<launch>

  <group ns="traffic1">
    <node pkg="traffic_light" name="traffic_light" type="traffic_light"/>
  </group>

  <group ns="traffic2">
    <node pkg="traffic_light" name="traffic_light" type="traffic_light"/>
  </group>

  <group ns="traffic3">
    <node pkg="traffic_light" name="traffic_light" type="traffic_light"/>
  </group>

  <group ns="traffic4">
    <node pkg="traffic_light" name="traffic_light" type="traffic_light"/>
  </group>
  </launch>